* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "sans-serif";
}
.parentBox {
  background-color: #ededeb;
}
.navbarBox {
  /* border: solid green 2px; */
  background-color: #c3d4f7;
  display: flex;
  width: 100%;
}
.logoBox {
  font-size: 50px;
  /* border: solid 2px red; */
  padding: 10px 0 0 40px;
}
.navbarListBox {
  /* border: solid purple 2px; */
  margin-left: 60px;
  padding-top: 15px;
  display: flex;
}

#navList a {
  text-decoration: none;
  /* border: solid 1px green; */
  font-size: 20px;
  padding: 20px;
}
.searchBox {
  display: flex;
  /* border: solid 2px blue; */
  padding-left: 120px;
  padding-top: 30px;
  /* font-size: 20px; */
}
.input {
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
  border: solid 2px black;
}
.footer {
  /* border: solid purple 1px; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.madeBy {
  /* border: solid red 1px; */
  padding-left: 20px;
  padding-top: 20px;
}
.policy {
  /* border: solid green 1px; */
  padding-right: 30px;
  padding-top: 10px;
}
.policy p Link {
  text-decoration: none;
}
