* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "sans-serif";
}
.navbarBox {
  border: solid green 2px;
  display: flex;
  width: 100%;
}
.logoBox {
  font-size: 50px;
  /* border: solid 2px red; */
  padding: 10px 0 0 40px;
}
.navbarListBox {
  /* border: solid purple 2px; */
  margin-left: 100px;
  padding-top: 15px;
  display: flex;
}

#navList {
  padding: 20px;
}
#navList a {
  text-decoration: none;
  /* border: solid 1px green; */
  font-size: 20px;
}
.searchBox {
  display: flex;
  /* border: solid 2px blue; */
  padding-left: 100px;
  padding-top: 30px;
  /* font-size: 20px; */
}
.input {
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
  border: solid 2px black;
}
